<!doctype html>
<html class="no-js" lang="zh">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href="https://cdn.bootcss.com/fullPage.js/3.0.7/fullpage.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  
  <nav class="navbar navbar-expand-lg nav-pills">
    <a class="navbar-brand" href="index.html">WST</a>
    <p class="lead">Beta版</p>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <h3>☰</h3>
    </button>
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link active" href="#"><strong>实例</strong></a></li>
        <li class="nav-item"><a class="nav-link" href="about.html"><strong>我们</strong></a></li>
      </ul>
    </div>
  </nav>

  <div id="fullpage">
    <div class="section active" style="background-color: darkorange;">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="display-1">WST零杯参赛作品 初始化中……(ノ￣▽￣)</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section" style="background-color: forestgreen;">
      <div class="container">
        <div class="row">
          <div class="col">
            <pre style="font-size:3em; font-family: 'Consolas', Courier, monospace;" id="git"></pre>
          </div>
        </div>
      </div>
    </div>
    <div class="section" style="background-color:slategray;">
      <div class="container">
        <div class="row">
          <div class="col" id="vue-ex">
            <h3>Welcome:</h3>
            <select class="custom-select w-25" v-model="identity">
              <option v-for="person in people" :value="person.value">{{person.name}}</option>
            </select> 
            <hr>
            <div v-show="identity == 'wan'">
              <p>Long time no see,</p>
              <h5>Your Excellency Wan.</h5>  
            </div>
            <div v-show="identity == 'sun'">
              <p>Let's very very welcome:</p>
              <h5>Sun Yixiang.</h5>  
            </div>
            <div v-show="identity == 'tan'">
              <p>Hello,</p>
              <h5>but who is Tan?</h5>  
            </div>
            <br>
            <button class="btn btn-secondary" @click="addPerson({value: 'xu', name: '徐'})">徐桑儒加入</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/fullPage.js/3.0.7/fullpage.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/typed.js/2.0.11/typed.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
